body {
	height: 100%;
	max-height: 1024px;
	margin: 0 auto;
	background-color: #0c457d;
    font-size: 100%;
    font-family: sans-serif;
}

img {
	height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 50%;
}

header {
    margin: 1em;
    text-align: center;
    padding: 1em;
    background-color: #F86345;
    border-style: solid;
    border-width: 0.5em;
    border-color: #ffbe4f;
}

header h1 {
    font-size: 5em;
}

header h2 {
    font-size: 2.5em;
}

header p {
    font-size: 1.15em;
}

nav ul {
	text-align: center;
    padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1em;
}

article {
    margin: 1em;
    background-color: #F86345;
    border-style: solid;
    border-width: 0.5em;
    border-color: #ffbe4f;
    padding: 1em;
}

article h2 {
    text-align: center;
    font-size: 2em;
}

article h5 {
    text-align: center;
    font-size: 1.5em;
}

article h6 {
    text-align: center;
}

article.me {
    background-color: #0ea7b5;
}

article.friends {
    background-color: #6bd2db;
}

footer {
    font-size: .75em;
    text-align: center;
}